<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @usuario.id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @usuario.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @usuario.password %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @usuario.imagen %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
